.order-history-item {
    position: relative;
    // border: 1px solid rgba(34,36,38,.15);
    padding: 20px;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;

    &.pending {
        // background-color: #ffedd5;
        box-shadow: 0 0 0 1px #d4d4d5, 0 4px 0 0 #f97316, 0 1px 3px 0 #d4d4d5;
    }

    &.delivered {
        // background-color: #dcfce7;
        box-shadow: 0 0 0 1px #d4d4d5, 0 4px 0 0 #22c55e, 0 1px 3px 0 #d4d4d5;
    }

    &__time {
        // position: absolute;
        // top: -14px;
        // right: 10px;
        // background-color: #fff;
        // padding: 5px 20px;
        // border: 1px solid rgba(34,36,38,.15);
        position: absolute;
        top: -14px;
        right: 10px;
        background-color: #fff;
        padding: 5px 20px;
        border: 1px solid #d4d4d5;
        border-radius: 0 .28571429rem 0 0;
    }

    &__product {
        display: flex;
        align-items: center;

        .ui.image {
            margin-right: 20px;
            // width: 80px;
        }

        p {
            margin: 0;
            font-weight: bold;
            font-size: 18px;
        }
    }
}