.add-order-form {
    
    &__list {
        margin-top: 20px;
        max-height: 400px !important;
        overflow-y: auto;

        :last-child {
            margin-bottom: 0px;
        }

        &-product {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            border-radius: .28571429rem;
            // box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
            border: 1px solid #d4d4d5;
            padding: 15px;

            .ui.image {
                margin-right: 20px !important;
            }
        }
    }

    .ui.primary.button {
        margin-top: 50px;
    }
}